<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145246810-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-145246810-1');
    </script>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="keywords" content="Web development, ux, ui, design, website, ecommerce, facebook ads, digital agency, software, digital marketing, dooh, billboards, data, analytics, split testing, predictions, google analytics, facebook, shopify, business, small business, small business owner">
    <meta name="description" content="We help small businesses bridge the technical gap to create or optimize their online presence and service with one goal in mind: delight their customers and grow their business. We offer a wide choice of services from ux design, website building, custom websites development, and ecommerce to marketing, analytics, and forecasting">
    
    <meta property="twitter:site" content="https://koverdd.com">
    <meta property="twitter:description" content="We help small businesses bridge the technical gap to create or optimize their online presence and service with one goal in mind: delight their customers and grow their business. We offer a wide choice of services from ux design, website building, custom websites development, and ecommerce to marketing, analytics, and forecasting">
    <meta property="twitter:title" content="Koverdd Digital Agency">
    <meta property="twitter:creator" content="Koverdd">
    <meta property="twitter:image" content="<%= BASE_URL %>img/thumbnail.jpg">
    
    <meta property="og:title" content="Koverdd Digital Agency">
    <meta property="og:description" content="We help small businesses bridge the technical gap to create or optimize their online presence and service with one goal in mind: delight their customers and grow their business. We offer a wide choice of services from ux design, website building, custom websites development, and ecommerce to marketing, analytics, and forecasting">
    <meta property="og:site_name" content="Koverdd Digital Agency">
    <meta property="og:url" content="https://koverdd.com">
    <meta property="og:image" content="<%= BASE_URL %>img/thumbnail.jpg">

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Koverdd | Web design & development, marketing, data analytics for small buisnesses</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="manifest" href="./manifest.json">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but koverdd doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>