<template lang="pug">
  .bg.page-pt(:class="{'page-pt': $vuetify.breakpoint.mdAndUp, 'pt-6': $vuetify.breakpoint.smAndDown}")
    v-layout.ml-6.mr-0(align-center justify-center row wrap)
      v-flex(xs12 sm8 md6 lg5)
        .display-2.font-weight-medium.white--text.mb-12 {{ $vuetify.lang.t('$vuetify.contactComponent.title') }}
          DecorativeUnderline(color="white")

        v-form(ref="contactForm")
          v-layout.mx-0(align-center justify-center row wrap)
            v-flex.mb-12(xs12 :class="{'mr-6': $vuetify.breakpoint.xsOnly}")
              .white--text(style="max-width: 450px; line-height: 1.7 !important;") 
                .d-inline.title.font-weight-regular 
                  | {{ $vuetify.lang.t('$vuetify.contactComponent.fillerPreEmail') }}
                .d-inline.title.font-weight-bold(style="color: #6BE5CB;") {{ email }}
                .d-inline.title.font-weight-regular 
                  | {{ $vuetify.lang.t('$vuetify.contactComponent.fillerPostEmail') }}
            v-flex(xs12 md6 :class="{'pr-2': $vuetify.breakpoint.mdAndUp, 'pr-6': $vuetify.breakpoint.smAndDown}")
              v-text-field(
                :label="$vuetify.lang.t('$vuetify.contactComponent.firstNamePlaceholder')"
                :rules="[rules.required]" 
                v-model="userFirstName"
                outlined 
                dark 
                color="#6BE5CB" 
                type="text" 
                clearable
              )
            v-flex(xs12 md6 :class="{'pl-2': $vuetify.breakpoint.mdAndUp, 'pr-6': $vuetify.breakpoint.smAndDown}")
              v-text-field(
                :label="$vuetify.lang.t('$vuetify.contactComponent.emailPlaceholder')"
                :rules="[rules.required, rules.email]" 
                v-model="userEmail"
                outlined 
                dark 
                color="#6BE5CB" 
                type="email" 
                clearable
              )
            v-flex(xs12 :class="{'pr-6': $vuetify.breakpoint.smAndDown}")
              v-textarea(
                :placeholder="$vuetify.lang.t('$vuetify.contactComponent.msgBodyPlaceholder')" 
                :rules="[rules.required]" 
                v-model="userMsg"
                outlined 
                dark 
                color="#6BE5CB" 
                rows=10 
                auto-grow
              )
            v-flex(xs12 :class="{'pr-6': $vuetify.breakpoint.smAndDown}")
              .mb-12(:class="{'text-center': $vuetify.breakpoint.smAndUp, 'text-left': $vuetify.breakpoint.xsOnly}")
                v-btn(
                  @click="sendEmail()"
                  :disabled="!isFormValid"
                  :loading="sendBtnLoading"
                  dark
                  large
                  rounded
                  color="#6BE5CB"
                ) {{ $vuetify.lang.t('$vuetify.contactComponent.btnLabel') }}
          
    v-snackbar(v-model="showSnackbar" top :color="snackbarColor")
      v-icon.mr-2(dark) {{ snackbarIcon }}
      span.font-weight-bold.subtitle-1.text-left(v-text="snackbarMsg")

</template>

<script>
import * as emailjs from 'emailjs-com';
import DecorativeUnderline from "../components/DecorativeUnderline.component"
export default {
  components: {
    DecorativeUnderline
  },
  data() {
    return {
      email: "support@koverdd.com",
      sendBtnLoading: false,
      
      showSnackbar: false,
      snackbarStatus: "error",

      userFirstName: "",
      userEmail: "",
      userMsg: "",
      rules: {
        required: value => !!value || this.$vuetify.lang.t(this.$vuetify.lang.locales[this.currentLang].contactComponent.requiredValidation),
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || this.$vuetify.lang.t(this.$vuetify.lang.locales[this.currentLang].contactComponent.emailValidation)
        }
      }
    }
  },
  computed: {
    currentLang() {
      return this.$vuetify.lang.current
    },
    isFormValid() {
      let isFirstNameValid = this.rules.required(this.userFirstName) === true
      let isEmailValid = (this.rules.required(this.userEmail) === true) && (this.rules.email(this.userEmail) === true) 
      let isMsgValid = this.rules.required(this.userMsg) === true
      return isFirstNameValid && isEmailValid && isMsgValid
    },

    snackbarIcon() {
      return this.snackbarStatus === "success"? 'check_circle' : 'warning'
    },

    snackbarColor() {
      return this.snackbarStatus === "success"? '#6BE5CB' : '#EC7063'
    },

    snackbarMsg() {
      let successMsg = this.$vuetify.lang.t(this.$vuetify.lang.locales[this.currentLang].contactComponent.snackbarMsgSent)
      let errorMsg = this.$vuetify.lang.t(this.$vuetify.lang.locales[this.currentLang].contactComponent.snackbarMsgError)
      return this.snackbarStatus === "success"? successMsg : errorMsg
    }
  },
  methods: {
    sendEmail() {
      this.sendBtnLoading = true
      let serviceId = process.env.VUE_APP_EMAILJS_SERVICE_ID
      let templateId = "contact_us"
      let userId = process.env.VUE_APP_EMAILJS_USER_ID
      let newEmail = {
        firstName: this.userFirstName,
        email: this.userEmail,
        msgBody: this.userMsg,
      }
      emailjs.send(serviceId, templateId, newEmail, userId)
      .then(
        res => {
          this.snackbarStatus = "success"
          this.$refs.contactForm.reset()
        },
        e => {
          this.snackbarStatus = "error"
        }
      )
      .finally(() => {
        this.showSnackbar = true
        this.sendBtnLoading = false
      })
    }
  }
}
</script>

<style scoped>
  .bg {
    background-color: #40514E;
    min-height: 100vh;
  }
  .page-pt {
    padding-top: 15vh;
  }
</style>
