<template>
  <v-container fluid class="ctnr">
    <v-layout id="main-row" fill-height align-start justify-center row wrap>
      <v-flex xs12 class="text-center">
        <div class="validation-animation success1">
          <svg :style="'width: ' + svgSize + 'px;'" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
            <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1"
              cy="65.1" r="62.1" />
            <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="rounded"
              stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
          </svg>
        </div>
        <v-scroll-y-reverse-transition>
          <div 
            v-if="showText"
            class="d-block mt-6 text-center px-2 mx-auto" 
            style="max-width: 890px;"
            :class="{'display-1': $vuetify.breakpoint.smAndUp, 'title font-weight-regular': $vuetify.breakpoint.xsOnly}">
            {{ $vuetify.lang.t('$vuetify.donePage.sentence1') }}
            {{ action }}{{ $vuetify.lang.t('$vuetify.donePage.sentence2') }}
          </div>
        </v-scroll-y-reverse-transition>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      showText: false,
      action: null
    }
  },
  created() {
    let actionFromQuery = this.$route.query.action
    if (["booked", "cancelled"].includes(actionFromQuery)) {
      this.action = this.$vuetify.lang.t(this.$vuetify.lang.locales[this.currentLang].donePage[actionFromQuery])
    } else { this.$router.push("/") }

    setTimeout(() => { this.showText = true }, 420)
  },
  computed: {
    svgSize() {
      return this.$vuetify.breakpoint.xsOnly? 120 : 260
    },

    currentLang() {
      return this.$vuetify.lang.current
    },
  }
}
</script>


<style lang="scss" scoped>
  $color-anim: #6BE5CB;

  .ctnr {
    background-color: #f5f5f5;
    height: 100vh;
    padding-top: 15%;
  }

  .ctnr {
    #main-row {
      .validation-animation {
        color: $color-anim;
        
        svg.mobile-size {
          width: 150px;  
        }

        svg.desktop-size {
          width: 350px;  
        }
        
        svg {
          circle,
          polyline {
            stroke: $color-anim;
          }
        }
      }
    }
  }

  .validation-animation {
    display: inline-block !important;
    svg {
      width: 40px;
    }
    .path {
      stroke-dasharray: 1000;
      stroke-dashoffset: 0;
      &.circle {
        -webkit-animation: dash 1.2s ease-in-out;
        animation: dash 1.2s ease-in-out;
      }
      &.line {
        stroke-dashoffset: 1000;
        -webkit-animation: dash 1.2s .4s ease-in-out forwards;
        animation: dash .9s .4s ease-in-out forwards;
      }
      &.check {
        stroke-dashoffset: -100;
        -webkit-animation: dash-check 1.2s .4s ease-in-out forwards;
        animation: dash-check 1.2s .4s ease-in-out forwards;
      }
    }
    @-webkit-keyframes dash {
      0% {
        stroke-dashoffset: 1000;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
    @keyframes dash {
      0% {
        stroke-dashoffset: 1000;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
    @-webkit-keyframes dash-check {
      0% {
        stroke-dashoffset: -100;
      }
      100% {
        stroke-dashoffset: 900;
      }
    }
    @keyframes dash-check {
      0% {
        stroke-dashoffset: -100;
      }
      100% {
        stroke-dashoffset: 900;
      }
    }
  }
</style>
