<template lang="pug">
div(style="width: 100vw;")
  AboveTheFold
  WhatWeDo#whatwedo
  OurWork#ourwork
  AboutUs#aboutus
  Footer
</template>

<script>
import AboveTheFold from "../components/AboveTheFold.component"
import WhatWeDo from "../components/WhatWeDo.component"
import AboutUs from "../components/AboutUs.component"
import OurWork from "../components/OurWork.component"
import Footer from "../components/Footer.component"

import { scrollingOptions } from "../services"

export default {
  components: {
    AboveTheFold,
    WhatWeDo,
    AboutUs,
    OurWork,
    Footer
  },
  data() {
    return {
      //
    }
  },
  computed: {
    navbarHeight() {
      return this.$vuetify.breakpoint.smAndDown? 10 : 75
    }
  },
  mounted() {
    this.$root.$on('scrollNeeded', this.scrollToSection);
  },
  methods: {
    scrollToSection(section) {
      this.$vuetify.goTo("#" + section, scrollingOptions(this.navbarHeight))
    }
  }
}
</script>