<template lang="pug">
  .bg.page-pt(:class="{'page-pt': $vuetify.breakpoint.mdAndUp, 'pt-6': $vuetify.breakpoint.smAndDown}")
    v-layout.mx-0(align-center justify-center row wrap style="width: inherit;")
      v-flex(xs12 sm8 md7 lg6)
        .display-2.font-weight-medium.mb-12.ml-3 {{ $vuetify.lang.t('$vuetify.schedulerComponent.add.title') }}
          DecorativeUnderline(color="#0789FC")
        v-layout.mx-0(align-center justify-center row wrap style="width: inherit;")
          v-flex(xs12 :class="{'mb-12': $vuetify.breakpoint.mdAndUp}")
            v-card(elevation=4)
              v-img(:src="require('../assets/calendar-bg.jpg')" aspect-ratio=2.7 :gradient="loadingAppointment? 'to right, rgba(7, 137, 252, .6), rgba(107, 229, 203, .6)' : undefined")
              NewAppointmentInfo(v-if="!isCancelPage" @scrollToStepper="scrollToStepper")
              LoadAppointment(
                v-if="isCancelPage"
                :btnLoading="loadingAppointment"
                @cancelAppointment="cancelAppointment"
              )
              
              v-stepper#stepper(v-model="currentStep" v-if="!isCancelPage")
                v-stepper-header
                  v-hover
                    v-stepper-step(
                      slot-scope="{ hover }" 
                      color="#0789FC" 
                      step="1" 
                      :complete="currentStep > 1"
                      :editable="hover && currentStep > 1"
                    )
                  v-divider
                  v-hover
                    v-stepper-step(
                      slot-scope="{ hover }" 
                      color="#0789FC" 
                      step="2" 
                      :complete="currentStep > 2"
                      :editable="hover && currentStep > 2"
                    )                  
                  v-divider
                  v-stepper-step(color="#0789FC" step="3")

                v-stepper-items
                  v-stepper-content(step="1" :class="{'pa-1': $vuetify.breakpoint.smAndDown}")
                    Calendar(@dateAndTimePicked="step1Tostep2" :bookedAppointments="appointments")
                  v-stepper-content(step="2" :class="{'pa-1': $vuetify.breakpoint.smAndDown}")
                    CommunicationOptions(@pickedMedium="step2Tostep3")
                  v-stepper-content(step="3" :class="{'pa-1': $vuetify.breakpoint.smAndDown}")
                    ClientInfoForm(
                      v-if="currentStep === 3" 
                      :mediumType="step2"
                      :btnLoading="sendBtnLoading"
                      @formCompleted="bookAppointment"
                    )

    v-snackbar(v-model="showSnackbar" top color="error")
      v-icon.mr-2(dark) warning
      span.font-weight-bold.subtitle-1.text-left
        | {{ snackbarMsg }}
</template>

<script>
import * as emailjs from 'emailjs-com'
import { scrollingOptions } from "../services"
import db from "../firestore/init"

import DecorativeUnderline from "../components/DecorativeUnderline.component"
import NewAppointmentInfo from "../components/NewAppointmentInfo.component"
import LoadAppointment from "../components/LoadAppointment.component"
import Calendar from "../components/Calendar.component"
import CommunicationOptions from "../components/CommunicationOptions.component"
import ClientInfoForm from "../components/ClientInfoForm.component"

export default {
  components: {
    DecorativeUnderline,
    NewAppointmentInfo,
    LoadAppointment,
    Calendar,
    CommunicationOptions,
    ClientInfoForm
  },
  data() {
    return {
      currentStep: 1,
      email: "support@koverdd.com",
      sendBtnLoading: false,
      showSnackbar: false,
      errorMsgType: "general",

      rawRdvsData: [],
      appointments: [],

      // Cancel Appointment related
      loadingAppointment: false,
      
      // Steps data
      step1: null,
      step2: null,
    }
  },
  mounted() {
    db.collection("appointments").get().then(querySnapshot => {
      let rdvs = []
      querySnapshot.forEach((doc) => { 
        rdvs.push(doc.data())
        this.rawRdvsData.push(doc)
      })     
      this.rawRdvsData = this.rawRdvsData.filter(rdv => rdv.data().status === "active")
      this.appointments = rdvs.filter(rdv => rdv.status === "active")
    })
  },
  computed: {
    isCancelPage() {
      // false means its a new appointment => /consultation
      return this.$route.path === "/consultation/cancel"? true : false
    },

    navbarHeight() {
      return this.$vuetify.breakpoint.smAndDown? 0 : 75
    },
    currentLang() {
      return this.$vuetify.lang.current
    },

    snackbarMsg() {
      let base = this.$vuetify.lang.locales[this.currentLang].schedulerComponent.errorMsgs
      if (this.errorMsgType === "general") { return this.$vuetify.lang.t(base.general) }
      if (this.errorMsgType === "existingEmail") { return this.$vuetify.lang.t(base.existingEmail) }
      if (this.errorMsgType === "emailNotFound") { return this.$vuetify.lang.t(base.emailNotFound) }
    }
  },
  methods: {
    scrollToStepper() {
      this.$vuetify.goTo("#stepper", scrollingOptions(this.navbarHeight))
    },

    step1Tostep2(obj) {
      // obj = {date: "2019-02-02", time: "19:30"}

      this.step1 = obj
      this.currentStep = 2
    },

    step2Tostep3(medium) {
      // medium = "phone" for example

      this.step2 = medium
      this.currentStep = 3
    },

    bookAppointment(data) {
      // data format = {firstName: "", email: "", contact: "text", description: "text" }
      
      this.sendBtnLoading = true
      let appointmentData = Object.assign({}, this.step1, data)
      appointmentData["medium"] = this.step2
      appointmentData["status"] = "active"

      if (!this.appointments.find(x => x.email === appointmentData.email)) {
        db.collection("appointments").add(appointmentData)
        .then(res => {
           this.sendEmail(appointmentData, "booked").then(emailRes => {
             this.sendBtnLoading = false
           })
        })
        .catch(err => {
          this.errorMsgType = "general"
          this.showSnackbar = true
        })
      } else {
        this.errorMsgType = "existingEmail"
        this.showSnackbar = true
        this.sendBtnLoading = false
      }
    },

    sendEmail(rdv, action) {
      this.sendBtnLoading = true

      let serviceId = process.env.VUE_APP_EMAILJS_SERVICE_ID
      let templateId = "template_uV4yO2Xu"
      let userId = process.env.VUE_APP_EMAILJS_USER_ID
      let emailParams = {
        email_to: rdv.email,
        to_name: rdv.firstName,
        date: rdv.date,
        time: rdv.time,
        action_past_verb: action
      }
      return emailjs.send(serviceId, templateId, emailParams, userId)
      .then(
        res => {
          this.$router.push({path: "/done", query: { action }})
        },
        e => {
          this.errorMsgType = "general"
          this.showSnackbar = true
        }
      )
      .finally(() => {
        this.sendBtnLoading = false
      })
    },

    cancelAppointment(email) {
      this.loadingAppointment = true
      let rdv = this.rawRdvsData.find(x => x.data().email === email) 
      if (rdv) {
        let newRdv = {...rdv.data()}
        newRdv.status = "cancelled"
        db.collection("appointments").doc(rdv.id).set(newRdv)
        .then(res => {
          this.sendEmail(rdv.data(), "cancelled")
        })
        .catch(err => {
          this.errorMsgType = "general"
          this.showSnackbar = true
        })
        .finally(() => {
          this.sendBtnLoading = false
        })
      } else {
        this.errorMsgType = "emailNotFound"
        this.showSnackbar = true
        this.loadingAppointment = false
      }
    }
  }
}
</script>

<style scoped>
  .bg {
    background-color: #f5f5f5;
    min-height: 100vh;
  }
  .page-pt {
    padding-top: 10vh;
  }

  .v-stepper-step-hover {
    background-color: rgba(0,0,0,0.06);
    font-weight: bold;
  }
</style>
