<template lang="pug">
  .ctnr1.white--text
    v-layout.mx-0(align-center justify-center row wrap style="width: inherit;")
      v-flex.my-12(xs12 lg6)
        .display-2.font-weight-medium.ml-6 {{ $vuetify.lang.t('$vuetify.aboutUsComponent.title') }}
          DecorativeUnderline(color="white")
      v-flex(xs12 sm9 md8 lg11 xl9)
        v-layout.mx-0(align-center justify-center row wrap style="width: inherit;")
          v-flex.pa-6(xs11 sm9 lg5)
            p.title.font-weight-light {{ $vuetify.lang.t('$vuetify.aboutUsComponent.paragraph') }}
    .space-divider
</template>

<script>
import DecorativeUnderline from "../components/DecorativeUnderline.component"

export default {
  components: {
    DecorativeUnderline
  }
}
</script>


<style scoped>
  .ctnr1 {
    background-color: #40514E;  
  }

  p.title.font-weight-light {
    line-height: 1.5 !important;
  }

  .space-divider {
    height: 10vh;
  }
</style>
