<template lang="pug">
.bg-container
  v-container(fluid fill-height)
    v-layout.mx-0(align-center justify-center row wrap style="width: inherit;")
        v-flex(xs12 sm11 md9 lg8 xl7)
          .text-center.white--text.font-weight-bold.mx-auto(
            :class="{'display-3': $vuetify.breakpoint.smAndUp, 'headline px-2 mb-2': $vuetify.breakpoint.xsOnly}") 
            | {{ $vuetify.lang.t('$vuetify.aboveTheFoldComponent.headline') }}
          .text-center
            v-btn.mt-10(ripple x-large rounded dark color="#0789FC" to="/consultation") 
              | {{ $vuetify.lang.t('$vuetify.aboveTheFoldComponent.ctaBtn') }}
</template>

<script>
export default {

}
</script>


<style scoped>
.bg-container {
  height: 100vh;
  background-image: url("../assets/bg3.jpg");
  background-position: bottom;
  background-size: cover;
}
</style>
