<template lang="pug">
  v-container(fluid :class="{'px-0': $vuetify.breakpoint.smAndDown}")
    v-layout.mx-0(align-center justify-center row wrap style="width: inherit;")
      
      //- Date Picker
      v-flex.px-4(xs12 sm8 md7 align-self-start :class="{'mb-12': $vuetify.breakpoint.smAndDown}")
        .title.mb-6 {{ $vuetify.lang.t('$vuetify.schedulerComponent.add.pickDate') }}
        v-date-picker(v-model="selectedDate" :min="today" full-width header-color="#0789FC" color="#0789FC")
      
      //- Time Picker
      v-flex.px-4(xs12 sm8 md5 align-self-start style="max-height:410px; overflow: auto;")
        .title.mb-6 {{ $vuetify.lang.t('$vuetify.schedulerComponent.add.pickTime') }}
        .subtitle-1.grey--text(v-if="!selectedDate") {{ $vuetify.lang.t('$vuetify.schedulerComponent.add.pickDateFirst') }}
        div(v-if="selectedDate && !timesLoading" v-for="time in availableTimes")
          v-btn.my-2(:outlined="time !== selectedTime" dark block color="#0789FC" @click="setTime(time)") {{ time }}
        div(v-if="selectedDate && timesLoading")
          v-btn.my-2(outlined block :loading="timesLoading" color="#0789FC")
      
      //- Next Btn
      v-flex.px-4(xs12)
        div(:class="{'text-left': $vuetify.breakpoint.xsOnly, 'text-center': $vuetify.breakpoint.smAndUp}")
          v-btn.my-6(large rounded color="#6BE5CB" :disabled="!(selectedDate && selectedTime)" @click="sendDataToParent()") 
            | {{ $vuetify.lang.t('$vuetify.schedulerComponent.add.nextBtnLabel') }}
            v-icon keyboard_arrow_right
</template>

<script>
import { setTimeout } from 'timers';
export default {
  props: ["bookedAppointments"],
  data() {
    return {
      selectedDate: "",
      selectedTime: "",
      allTimeSlots: [],
      timesLoading: false,
    }
  },
  created: function() {
    this.allTimeSlots = this.generateTimeSlots()
  },
  computed: {
    today() {
      let now = new Date(Date.now())
      let month = now.getMonth() + 1 < 10? "0" + (now.getMonth() + 1) : now.getMonth() + 1
      let day = now.getDate() < 10? "0" + now.getDate() : now.getDate()
      return `${now.getFullYear()}-${month}-${day}`
    },
    availableTimes() {
      let fourPmIndex = this.allTimeSlots.findIndex(x => x === "16:00")
      let pickedDate = new Date(this.selectedDate)
      let filtered = []

      // Monday - Sunday : 0 - 6
      if (pickedDate && [5,6].includes(pickedDate.getDay())) { 
        filtered = this.allTimeSlots
      } else {
        filtered = this.allTimeSlots.slice(fourPmIndex)
      }
      let bookedTimes = this.bookedAppointments.filter(x => x.date === this.selectedDate).map(y => y.time)
      return bookedTimes.length? filtered.filter(x => !bookedTimes.includes(x)) : filtered
  }
  },
  watch: {
    selectedDate: function() {
      this.timesLoading = true
      setTimeout(() => { this.timesLoading = false }, 500)
    }
  },
  methods: {
    generateTimeSlots() {
      let finalList = []
      for (let i = 7 ; i <= 19 ; i++) {
        finalList.push(i + ":00")
        finalList.push(i + ":30")
      }
      return finalList
    },

    setTime(time) {
      this.selectedTime = time
    },

    sendDataToParent() {
      this.$emit("dateAndTimePicked", {date: this.selectedDate, time: this.selectedTime})
    }
  }
}
</script>
