<template lang="pug">
  v-container(fluid)
    v-layout.mx-0(align-center justify-center row wrap style="width: inherit;")
      v-flex(xs12 sm10 md8 lg6)
        .title.mb-6(:class="{'mt-2': $vuetify.breakpoint.smAndDown}")
          | {{ $vuetify.lang.t('$vuetify.schedulerComponent.add.clientInfoFormHeader') }}
        
        v-form(ref="step3")
          v-layout.mx-0(align-center justify-center row wrap style="width: inherit;")
            //- First Name
            v-flex(xs12)
              v-text-field(
                :label="$vuetify.lang.t('$vuetify.contactComponent.firstNamePlaceholder')"
                :rules="[rules.required]" 
                v-model="userFirstName"
                outlined 
                color="#0789FC" 
                type="text" 
                clearable
              )
            //- Email
            v-flex(xs12)
              v-text-field(
                :label="$vuetify.lang.t('$vuetify.contactComponent.emailPlaceholder')"
                :rules="[rules.required, rules.email]" 
                v-model="userEmail"
                outlined 
                color="#0789FC" 
                type="email" 
                clearable
              )
            //- Medium Username or Phone Number
            v-flex(xs12)
              v-text-field(
                v-if="mediumType === 'phone'"
                :label="userContactPlaceholder"
                :rules="[rules.required]" 
                v-model="userContact"
                v-mask="'(###)-###-####'"
                outlined 
                color="#0789FC" 
                type="tel" 
                clearable
              )
              v-text-field(
                v-if="mediumType !== 'phone'"
                :label="userContactPlaceholder"
                :rules="[rules.required]" 
                v-model="userContact"
                outlined 
                color="#0789FC" 
                type="text" 
                clearable
              )
            //- Business Description
            v-flex(xs12)
              v-textarea(
                :placeholder="$vuetify.lang.t('$vuetify.schedulerComponent.add.descriptionPlaceholder')" 
                :rules="[rules.required]" 
                v-model="userBusinessDescription"
                outlined 
                color="#0789FC" 
                rows=7 
                auto-grow
              )
            v-flex(xs12)
              .mb-6(:class="{'text-left': $vuetify.breakpoint.xsOnly, 'text-center': $vuetify.breakpoint.smAndUp}")
                v-btn.white--text(
                  @click="formCompleted()"
                  :disabled="!isFormValid"
                  :loading="btnLoading"
                  large
                  
                  rounded
                  color="#0789FC"
                ) {{ $vuetify.lang.t('$vuetify.schedulerComponent.add.finalBtnLabel') }}



</template>

<script>
import {mask} from 'vue-the-mask'

export default {
  directives: {mask},
  props: ["mediumType", "btnLoading"],
  data() {
    return {
      rules: {
        required: value => !!value || this.$vuetify.lang.t(this.$vuetify.lang.locales[this.currentLang].contactComponent.requiredValidation),
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || this.$vuetify.lang.t(this.$vuetify.lang.locales[this.currentLang].contactComponent.emailValidation)
        }
      },

      userFirstName: "",
      userEmail: "",
      userContact: "",
      userBusinessDescription: "",
    }
  },
  computed: {
    isFormValid() {
      let isFirstNameValid = this.rules.required(this.userFirstName) === true
      let isEmailValid = (this.rules.required(this.userEmail) === true) && (this.rules.email(this.userEmail) === true) 
      let isContactValid = this.rules.required(this.userContact) === true
      let isMsgValid = this.rules.required(this.userBusinessDescription) === true
      return isFirstNameValid && isEmailValid && isContactValid && isMsgValid
    },
    currentLang() {
      return this.$vuetify.lang.current
    },

    userContactPlaceholder() {
      if (this.mediumType === "phone") {
        return this.$vuetify.lang.t(this.$vuetify.lang.locales[this.currentLang].schedulerComponent.add.phonePlaceholder)
      } else {
        let brand = this.mediumType[0].toUpperCase() + this.mediumType.slice(1) + " "
        return brand + this.$vuetify.lang.t(this.$vuetify.lang.locales[this.currentLang].schedulerComponent.add.otherMediumPlaceholder)
      }
    }
  },
  methods: {
    formCompleted() {
      let data = {
        firstName: this.userFirstName,
        email: this.userEmail,
        contact: this.userContact,
        description: this.userBusinessDescription
      }
      this.$emit("formCompleted", data)
    }
  }
}
</script>


<style scoped>

</style>
