<template lang="pug">
  v-container.pb-12(fluid)
    v-layout.mx-0(align-center justify-center row wrap style="width: inherit;")
      v-flex(xs12 sm10 md8 lg6)
        .title.mb-6(:class="{'mt-2': $vuetify.breakpoint.smAndDown}")
          | {{ $vuetify.lang.t('$vuetify.schedulerComponent.add.pickCommMedium') }}
        
        v-layout.mx-0(align-center justify-center row wrap style="width: inherit;")
          v-flex(xs12 v-for="x in ['phone', 'skype', 'zoom']")
            v-hover(v-slot:default="{ hover }")
              .text-center
                v-btn.my-2(
                  large
                  width=260
                  :outlined="!hover || $vuetify.breakpoint.smAndDown"
                  :dark="hover"
                  color="#0789FC"
                  @click="pickedMedium(x)"
                )
                  | {{ $vuetify.lang.t('$vuetify.schedulerComponent.add.' + x + 'Medium') }} 
</template>

<script>
export default {
  methods: {
    pickedMedium(medium) {
      this.$emit("pickedMedium", medium)
    }
  }
}
</script>


<style scoped>
  .medium {
    transition: all 150ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    max-width: 450px;
    border: 1px solid lightgray;
    border-radius: 80px;
    cursor: pointer;
  }
</style>
