<template lang="pug">
  transition(name="slide-fade")
    #line(:style="styleColor" v-if="showLine")
</template>

<script>
export default {
  props: ["color"],
  data() {
    return {
      showLine: false,
    }
  },
  computed: {
    styleColor() {
      return "background-color: " + this.color + ";"
    }
  },
  mounted() {
    this.showLine = true
  }
}
</script>

<style scoped>
  #line {
    height: 6px;
    width: 60px;
    position: relative;
  }

  .slide-fade-enter-active, .slide-fade-leave-active {
    transition: all .7s cubic-bezier(1, 0, 0, 1) .2s;
  }

  .slide-fade-enter, .slide-fade-leave-to {
    transform: scaleX(0);
    transform-origin: left;
  }
</style>
