<template lang="pug">
  v-footer(
    color="#f5f5f5" 
    height="55px" 
    :class="{'px-12': $vuetify.breakpoint.smAndUp, 'px-2': $vuetify.breakpoint.xsOnly }"
  )
      v-spacer
      .d-inline-block {{ $vuetify.lang.t('$vuetify.footerComponent.part1')}}
      .d-inline-block &nbsp;&copy; {{ new Date().getFullYear() }}
      .d-inline-block {{ $vuetify.lang.t('$vuetify.footerComponent.part2') }}
      v-spacer
</template>