<template lang="pug">
  div
    .text-center.headline.font-weight-bold.my-6(style="color: #0789FC;") 
      | {{ $vuetify.lang.t('$vuetify.schedulerComponent.edit.subtitle') }}
    .text-center.mx-auto.subtitle-1.font-weight-regular.mt-2.mb-6.px-2(style="color: #0789FC;") 
      | {{ $vuetify.lang.t('$vuetify.schedulerComponent.edit.description') }}
    v-layout.mx-0.pb-12(align-center justify-center row wrap style="width: inherit;")
      v-flex.px-0(xs11 sm8 xl6)
        v-layout.mx-0(align-center justify-center row wrap style="width: inherit;")
          v-flex(xs12)
            .text-center
              v-text-field(
                ref="emailElement"
                color="#0789FC" 
                label="Email"
                type="email" 
                clearable 
                outlined 
                :rules="[rules.required, rules.email]" 
                v-model="email" 
              )
          v-flex(xs12 lg6 :class="{'pr-2': $vuetify.breakpoint.lgAndUp}")
            .text-center
              v-btn(
                color="#0789FC"  
                style="color: white;"
                rounded 
                large 
                block
                :disabled="btnsDisabled"  
                :loading="btnLoading"
                @click="cancelAppointment()"
              )
                v-icon.mr-2 delete
                | {{ $vuetify.lang.t('$vuetify.schedulerComponent.edit.cancelBtn')  }}
</template>

<script>
export default {
  props: ["btnLoading"],
  data() {
    return {
      rules: {
        required: value => !!value || this.$vuetify.lang.t(this.$vuetify.lang.locales[this.currentLang].contactComponent.requiredValidation),
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || this.$vuetify.lang.t(this.$vuetify.lang.locales[this.currentLang].contactComponent.emailValidation)
        }
      },
      email: "",
    }
  },
  mounted() {
    if(this.$vuetify.breakpoint.lgAndUp) {
      setTimeout(() => {
        this.$refs.emailElement.focus()
      },600)
    }
  },
  computed: {
    currentLang() {
      return this.$vuetify.lang.current
    },
    btnsDisabled() {
      return !(this.rules.required(this.email) === true && this.rules.email(this.email) === true)
    }
  },
  methods: {
    cancelAppointment() {
      this.$emit("cancelAppointment", this.email)
    }
  }
}
</script>
