<template lang="pug">
div
  //- D E S K T O P  V E R S I O N  C L O S E D
  v-app-bar.px-6(v-if="$vuetify.breakpoint.mdAndUp" fixed)
    v-btn(@click="isDialogOpen = true" rounded large text)
      v-icon.mr-2 menu
      | Menu
    v-spacer
    router-link(to="/")
      .logo
    v-spacer 
    v-btn(outlined large rounded color="#0789FC" to="/consultation")
      | {{ $vuetify.lang.t('$vuetify.navbarComponent.cta') }}

  //- O P E N  D E S K T O P  M E N U
  v-navigation-drawer(
    fixed
    temporary
    width=450
    v-if="$vuetify.breakpoint.mdAndUp" 
    v-model="isDialogOpen"
    style="background-color: #40514E;" 
  )
    v-container.px-0(fluid )
      v-layout(row wrap)
        v-flex(xs12) 
          v-list(two-line style="background-color: transparent;")
            v-list-item.mb-12
              .text-right(style="width: 100%;")
                v-btn(icon dark large @click="isDialogOpen = false")
                  v-icon(large) close
            v-list-item(v-for="btn in btns" @click="navigateTo(btn.to)" active-class="font-weight-bold")
              .white--text.display-1.text-center(style="width: 100%;") {{ $vuetify.lang.t(btn.label) }}
            v-list-item.my-12
              .text-center(style="width: 100%;")
                v-btn(rounded @click="changeLang()")
                  v-avatar.mr-2(size=28)
                    img(:src="require('../assets/' + altLang + '.png')" )
                  | {{ $vuetify.lang.t('$vuetify.navbarComponent.langBtnText') }}


  //- M O B I L E  V E R S I O N  C L O S E D
  v-fab-transition
    v-btn(
        v-if="$vuetify.breakpoint.smAndDown"
        v-show="!isDialogOpen"
        fab
        fixed
        dark
        color="#6BE5CB"
        bottom
        right
        @click="isDialogOpen = true"
    )
      v-icon menu

  //- O P E N  M O B I L E  M E N U
  v-dialog(
    fullscreen
    v-model="isDialogOpen" 
    transition="dialog-bottom-transition"
    v-if="$vuetify.breakpoint.smAndDown"
  )
    v-container.bg.px-0(fluid)
      v-layout.mx-0(row wrap)
        v-flex(xs12)
          v-toolbar.px-0(color="transparent" flat)
            v-btn.ml-3(rounded @click="changeLang()")
              v-avatar.mr-2(size=28)
                img(:src="require('../assets/' + altLang + '.png')" )
              | {{ $vuetify.lang.t('$vuetify.navbarComponent.langBtnText') }}
            v-spacer
            .text-left
              v-btn(icon dark large @click="isDialogOpen = false")
                v-icon(large) close
        v-flex(xs12) 
          v-list(two-line style="background-color: transparent;")
            v-list-item-title.my-3(v-for="btn in btns" @click="navigateTo(btn.to)" active-class="font-weight-bold")
              .white--text.headline.text-center( style="width: 100%;") {{ $vuetify.lang.t(btn.label) }}
        v-flex(xs12)
          .text-center
            v-btn.mt-12(rounded dark large color="#6BE5CB" @click="navigateTo('/consultation')") 
              | {{ $vuetify.lang.t("$vuetify.navbarComponent.cta") }}
</template>

<script>
import { setTimeout } from 'timers';
export default {
  data() {
    return {
      isDialogOpen: false,
      btns: [
        {label: "$vuetify.navbarComponent.whatWeDoLabel", to: "whatwedo"},
        {label: "$vuetify.navbarComponent.ourWorkLabel", to: "ourwork"},
        {label: "$vuetify.navbarComponent.aboutUsLabel", to: "aboutus"},
        {label: "$vuetify.navbarComponent.contactLabel", to: "/contact"},
        {label: "$vuetify.navbarComponent.editRdvLabel", to: "/consultation/cancel"},
      ]
    }
  },
  computed: {
    currentLang() {
      return this.$vuetify.lang.current
    },

    altLang() {
      return this.currentLang === "en"? "fr" : "en"
    }
  },
  methods: {
    navigateTo(link) {
      if (["whatwedo", "ourwork", "aboutus"].includes(link)) {
        this.$router.push("/")
        setTimeout(() => {
          this.$root.$emit("scrollNeeded", link)
        }, 20)
      } else {
        this.$router.push(link)
      }
      this.isDialogOpen = false
    },
    changeLang() {
      this.$vuetify.lang.current = this.altLang
      localStorage.lang = this.$vuetify.lang.current
      this.isDialogOpen = false
    }
  }
}
</script>


<style scoped>
  .logo {
    height: 25px;
    width:150px;
    background-image: url("../assets/logo.png");
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }

  .bg {
    background-color: #40514E;
    min-height: 100vh;
  }
</style>
