<template lang="pug">
  div
    .text-center.headline.font-weight-bold.my-6(style="color: #0789FC;") 
      | {{ $vuetify.lang.t('$vuetify.schedulerComponent.add.subtitle') }}
    .text-center.mx-auto.subtitle-1.font-weight-regular.mt-2.mb-6(style="color: #0789FC; max-width: 300px;") 
      | {{ $vuetify.lang.t('$vuetify.schedulerComponent.add.description') }}
    .text-center.mb-12
      v-btn(fab color="#6BE5CB" dark @click="scrollToStepper()")
        v-icon(large) keyboard_arrow_down
</template>

<script>
export default {
  methods: {
    scrollToStepper() {
      this.$emit("scrollToStepper")
    }
  }
}
</script>
