<template lang="pug">
  .ctnr1
    v-layout.mx-0(align-center justify-center row wrap style="width: inherit;")
      v-flex.my-12(xs12 lg6)
        .display-2.font-weight-medium.ml-6 {{ $vuetify.lang.t('$vuetify.ourWorkComponent.title') }}
          DecorativeUnderline(color="#0789FC")
      v-flex(xs12 sm9 md8 lg11 xl9)
        v-layout.mx-0(align-center justify-center row wrap style="width: inherit;")
          v-flex.pa-6(xs12 md6 lg4 v-for="project in projects")
            v-hover
              v-card.mx-auto(
                hover
                slot-scope="{ hover }"
                :elevation="hover || $vuetify.breakpoint.xsOnly? 24 : 7"
                :width="$vuetify.breakpoint.xsOnly? 300 : 'unset'" 
                
                @click="isDialogOpen = true"
              )
                //- v-img.mx-auto(:src="require('../assets/' + project.imgUrl)")
                v-img.mx-auto(:src="project.imgUrl")
                v-card-title(style="position: relative")
                  v-fab-transition
                    v-btn(
                      @click.stop
                      :href="project.link"
                      target="_blank"
                      v-show="hover && $vuetify.breakpoint.smAndUp" 
                      color="#0789FC" 
                      dark 
                      absolute 
                      top 
                      right 
                      fab
                    )
                      v-icon launch
                  .headline.font-weight-bold.mb-6 
                    | {{ $vuetify.lang.t(project.title) }}
            
            v-dialog(
              :fullscreen="$vuetify.breakpoint.xsOnly"  
              v-model="isDialogOpen" 
              max-width=750
            )
              v-card
                v-toolbar(flat color="grey lighten-4")
                  v-toolbar-title {{ $vuetify.lang.t(project.title) }}
                  v-spacer
                  v-toolbar-items
                    v-btn(icon :href="project.link")
                      v-icon launch
                    v-btn(icon @click="isDialogOpen = false")
                      v-icon close
              
                v-card-text
                  p(v-for="ps in project.paragraphs").title.font-weight-light.mt-2 {{ $vuetify.lang.t(ps) }}

    .space-divider
</template>

<script>
import DecorativeUnderline from "../components/DecorativeUnderline.component"

export default {
  components: {
    DecorativeUnderline
  },
  data() {
    return {
      projects: [
        {
          title: "$vuetify.ourWorkComponent.project1.title",
          imgUrl: "https://images.unsplash.com/photo-1501856777435-29877ed80a3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60",
          link: "https://gitlab.com/Issaf",
          paragraphs: [
            "$vuetify.ourWorkComponent.project1.paragraph1",
            "$vuetify.ourWorkComponent.project1.paragraph2",
            "$vuetify.ourWorkComponent.project1.paragraph3"
          ]
        },
        {
          title: "$vuetify.ourWorkComponent.project1.title",
          imgUrl: "https://images.unsplash.com/flagged/photo-1556667885-a6e05b14f2eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80",
          link: "https://gitlab.com/Issaf",
          paragraphs: [
            "$vuetify.ourWorkComponent.project1.paragraph1",
            "$vuetify.ourWorkComponent.project1.paragraph2",
            "$vuetify.ourWorkComponent.project1.paragraph3"
          ]
        }
      ],
      isDialogOpen: false,
    }
  }
}
</script>


<style scoped>
  .ctnr1 {
    background-color: #f5f5f5;  
  }

  p.title.font-weight-light {
    line-height: 1.5 !important;
  }

  .space-divider {
    height: 10vh;
  }
</style>
