<template lang="pug">
  .ctnr1
    v-layout.mx-0(align-center justify-center row wrap style="width: inherit;")
      v-flex.mb-12(xs12 lg6)
        .display-2.font-weight-medium.ml-6 {{ $vuetify.lang.t('$vuetify.whatWeDoComponent.title') }}
          DecorativeUnderline(color="#6BE5CB")
      v-flex(xs12 md8 lg11 xl8)
        v-layout.mx-0(align-center justify-center row wrap style="width: inherit;")
          v-flex.my-6(xs12 md6 lg3 v-for="i in [1,2,3,4]")
            v-hover
              v-card.mx-auto(
                slot-scope="{ hover }"
                :elevation="hover || $vuetify.breakpoint.xsOnly? 24 : 7"  
                max-width=300 
                :height="$vuetify.breakpoint.mdAndUp? 570 : 'unset'")
                v-img.mx-auto(:src="require('../assets/i' + i + '.png')" width=170 height=170)
                v-card-title
                  .headline.font-weight-bold.mb-6 
                    | {{ $vuetify.lang.t('$vuetify.whatWeDoComponent.section' + i + 'Title') }}
                  p.title.font-weight-light 
                    | {{ $vuetify.lang.t('$vuetify.whatWeDoComponent.section' + i + 'Description') }} 
    .space-divider
    .ctnr2.white--text.py-12
      .mx-auto.px-6(style="max-width: 600px;")
        .display-1.mb-6(:class="{'display-1': $vuetify.breakpoint.smAndUp, 'headline font-weight-bold': $vuetify.breakpoint.xsOnly}")
          | {{ $vuetify.lang.t('$vuetify.whatWeDoComponent.whyImportantTitle') }}
        p.title.font-weight-light.mb-6 {{ $vuetify.lang.t('$vuetify.whatWeDoComponent.whyImportantParagraph1') }}
        p.title.font-weight-light {{ $vuetify.lang.t('$vuetify.whatWeDoComponent.whyImportantParagraph2') }}
</template>

<script>
import DecorativeUnderline from "../components/DecorativeUnderline.component"

export default {
  components: {
    DecorativeUnderline
  },
}
</script>


<style scoped>
  .ctnr1 {
    background-color: #f5f5f5;  
  }

  .ctnr2 {
    background-color: #40514E;
  }

  .space-divider {
    height: 10vh;
  }

  p.title.font-weight-light {
    line-height: 1.5 !important;
  }
</style>
