<template lang="pug">
  v-app
    Navbar
    router-view
</template>

<script>
import Navbar from "./components/Navbar.component"

export default {
  name: 'App',
  components: {
    Navbar
  },
  created() {
    if (localStorage.lang) {
      this.$vuetify.lang.current = localStorage.lang
    }
  }
}
</script>
